<div class="gridListdemoBasicUsage">
    <md-grid-list  md-cols="3"  md-row-height="10em" md-gutter="1em">

        <md-grid-tile class="gray md-whiteframe-10dp">
            <img src="app/images/applications.png" class="dash_btn_img">
        </md-grid-tile>

        <md-grid-tile class="gray md-whiteframe-10dp">
            <img src="app/images/mdd_remote_control.png" class="dash_btn_img">
        </md-grid-tile>

        <md-grid-tile class="gray md-whiteframe-10dp"  ng-click="showSettings()">
            <img src="app/images/bluetooth.png" class="dash_btn_img">
        </md-grid-tile>

        <md-grid-tile class="gray md-whiteframe-10dp"  ng-click="showSettings()">
            <img src="app/images/settings.svg" class="dash_btn_img">
        </md-grid-tile>

        <md-grid-tile class="gray md-whiteframe-10dp">
            <img src="app/images/File Media.png" class="dash_btn_img">
        </md-grid-tile>

        <md-grid-tile class="gray md-whiteframe-10dp">
            <img src="app/images/fm_radio.png" class="dash_btn_img">
        </md-grid-tile>



    </md-grid-list>
</div>