
<div class="header icon-color"  ng-controller="HeaderController">
    <img class="img" ng-if="dashBoardHeader" src="images/open-dash-logo.png"/>
    <div class="icon-color header-class" ng-if="!dashBoardHeader"><h1>{{headerName}}</h1></div>
    <md-button class="back-menu" ng-hide="mainPage" aria-label="FAB" ng-click="back()">
        <i class="fas fa-angle-double-left fa-5x white" aria-hidden="true"></i>
    </md-button>
    <div class="pull-right settings-icon">
        <md-button class="pull-right back-menu" ng-hide="mainPage">
            <h1><i class="material-icons homebutton settings-icon od-material-padding-right" ng-click="showDashboard()">home</i></h1>
        </md-button>
    </div>
</div>