<md-button class="md-fab" aria-label="FAB" ng-click="back()">
    <img src="app/images/arrow-left-bold.png" />
</md-button>
<div class="gridListdemoBasicUsage">
    <md-grid-list  md-cols="3"  md-row-height="6em" md-gutter="1em">
        <md-grid-tile class="gray md-whiteframe-10dp" ng-click="goToWifi()">
            <h1>Wifi</h1>
        </md-grid-tile>
        <md-grid-tile class="gray md-whiteframe-10dp" ng-click="goToBluetooth()">
            <h1>Bluetooth</h1>
        </md-grid-tile>
        <md-grid-tile class="gray md-whiteframe-10dp" ng-click="goToSystemSettings()">
            <h1>System</h1>
        </md-grid-tile>
        <md-grid-tile class="gray md-whiteframe-10dp" ng-click="showApps()">
           <h1>Apps</h1>
        </md-grid-tile>
        <md-grid-tile class="gray md-whiteframe-10dp" ng-click ="goToUpdateSettings()">
            <h1>Update</h1>
        </md-grid-tile>
    </md-grid-list>
</div>
