
<div>
    <md-grid-list md-cols="1"  md-row-height="4em" md-gutter="1.5em">
        <md-grid-tile class="md-whiteframe-10dp settings">
            <div layout="row" layout-align="space-between center" class="tile-content od-border-bottom">
                <div ng-click="goToMusic()">
                    <h1><i class="fas fa-music fa-lg od-padding-right" aria-hidden="true"></i>Music</h1>
                </div>
            </div>
        </md-grid-tile>
        <md-grid-tile class="md-whiteframe-10dp settings" >
            <div layout="row" layout-align="space-between center" class="tile-content od-border-bottom">
                <div ng-click="goToVideo()">
                    <h1> <i class="fas fa-film fa-lg od-padding-right" aria-hidden="true"></i>Video</h1>
                </div>
                <div>
                </div>
            </div>
        </md-grid-tile>
    </md-grid-list>
</div>
