<div>
    <md-grid-list md-cols="1"  md-row-height="4em" md-gutter="1.5em">
        <md-grid-tile class="md-whiteframe-10dp settings" ng-click="restartApp()">
            <div layout="row" layout-align="space-between center" class="tile-content od-border-bottom">
                <div>
                    <h1><i class="fas fa-undo fa-lg od-padding-right" aria-hidden="true"></i>Restart App</h1>
                </div>
                <div class="empty-divs">
                </div>
            </div>
        </md-grid-tile>
        <md-grid-tile class="md-whiteframe-10dp settings" ng-click="quitApp()">
            <div layout="row" layout-align="space-between center" class="tile-content od-border-bottom">
                <div>
                    <h1><i class="fas fa-sign-out-alt fa-lg od-padding-right" aria-hidden="true"></i>Quit App</h1>
                </div>
                <div class="empty-divs">
                </div>
            </div>
        </md-grid-tile>
        <md-grid-tile class="md-whiteframe-10dp settings"  ng-click="reboot()">
            <div layout="row" layout-align="space-between center" class="tile-content od-border-bottom">
                <div>
                    <h1><i class="fas fa-undo fa-lg od-padding-right" aria-hidden="true"></i>{{rebootStatus}}</h1>
                </div>
                <div class="empty-divs">
                </div>
            </div>
        </md-grid-tile>
        <md-grid-tile class="md-whiteframe-10dp settings" ng-click="shutdown()">
            <div layout="row" layout-align="space-between center" class="tile-content od-border-bottom">
                <div>
                    <h1><i class="fas fa-power-off fa-lg od-padding-right" aria-hidden="true"></i>{{shutdownStatus}}</h1>
                </div>
                <div class="empty-divs"></div>
            </div>
        </md-grid-tile>
        <md-grid-tile class="md-whiteframe-10dp settings" ng-click="update()">
            <div layout="row" layout-align="space-between center" class="tile-content od-border-bottom">
                <div>
                    <h1><i class="material-icons settings-icon od-material-padding-right">update</i>Update</h1>
					<div ng-if="updateStatus"><span>{{updateStatus}}</span><br/></div><span>Version: {{version}}</span>
                </div>
                <div class="empty-divs"></div>
            </div>
        </md-grid-tile>
    </md-grid-list>
</div>
