<div layout="row" layout-align="center center">
	<md-button ng-click="setBand('am')">AM</md-button>
	<md-button ng-click="setBand('fm')">FM</md-button>
</div>
<div layout="row" layout-align="center center">
    <md-button class="big-button" ng-click="seekDown()">
    	<i class="fas fa-caret-left"></i>
    	Seek
    </md-button>
    <h2 flex class="radio-frequency">
    	{{currentFrequency}}
    	<span class="radio-frequency-band">{{currentBand.label}}</span>
    </h2>
    <md-button class="big-button" ng-click="seekUp()">
    	Seek
    	<i class="fas fa-caret-right"></i>
    </md-button>
</div>
<div class="radioDial">
	<select class="radioDial--select" ng-options="frequency for frequency in currentBand.frequencies" ng-model="currentFrequency" ng-change="setFrequency(currentFrequency)"></select>
	<div id="radio-dial" class="radioDial--listWrapper" ng-dragstart="dialDragStart($event)" ng-drag="dialDrag($event)" ng-dragend="dialDrag($event)" draggable="true">
		<ol class="radioDial--list">
			<li class="radioDial--frequency {{step.label ? 'is-groupStart' : ''}}" ng-repeat="step in currentBand.dialSteps" style="width: {{dialStepWidth}}px;">
				<span class="radioDial--frequencyLabel" ng-if="step.label">{{step.label}}</span>
			</li>
		</ol>
	</div>
</div>
<div layout="row" layout-align="center center">
	<md-button flex class="big-button" ng-click="presetClick($index)" ng-mousedown="presetMouseDown($index)" ng-mouseup="presetMouseUp($index)" ng-repeat="preset in currentBand.presets track by $index">
		<span ng-if="preset">{{preset}}</span>
		<span ng-if="!preset" style="white-space: normal;">Empty</span>
	</md-button>
</div>
