<div class="layout-radio">
<!-- 	<div layout="row" layout-align="center center">
		<md-button ng-click="setBand('am')">AM</md-button>
		<md-button ng-click="setBand('fm')">FM</md-button>
	</div> -->
	<div class="layout-radio--heading">
		<h2 class="radioFrequencyHeading">
			{{amfm.band.frequency}}
			<span class="radioFrequencyHeading--band">{{amfm.band.label}}</span>
		</h2>
	</div>
	<div class="layout-radio--frequencyControls">
		<md-button class="big-button" ng-click="seekDown()">
			<i class="fas fa-caret-left"></i>
			Seek
		</md-button>
		<div class="radioDial">
			<select class="radioDial--select" ng-options="frequency for frequency in amfm.band.frequencies" ng-model="amfm.band.frequency" ng-change="setFrequency(frequency)"></select>
			<div id="radio-dial" class="radioDial--listWrapper" ng-dragstart="dialDragStart($event)" ng-drag="dialDrag($event)" ng-dragend="dialDrag($event)" draggable="true">
				<ol class="radioDial--list">
					<li class="radioDial--frequency {{step.label ? 'is-groupStart' : ''}}" ng-repeat="step in dialSteps" style="width: {{dialStepWidth}}px;">
						<span class="radioDial--frequencyLabel" ng-if="step.label">{{step.label}}</span>
					</li>
				</ol>
			</div>
		</div>
		<md-button class="big-button" ng-click="seekUp()">
			Seek
			<i class="fas fa-caret-right"></i>
		</md-button>
	</div>
	<div class="layout-radio--controls">
		<md-button class="big-button" ng-click="playPause()" ng-if="amfm.isPlaying">
			<i class="fas fa-pause fa-2x"></i>
		</md-button>
		<md-button class="big-button" ng-click="playPause()" ng-if="!amfm.isPlaying">
			<i class="fas fa-play fa-2x"></i>
		</md-button>
	</div>
	<div class="layout-radio--presets">
		<md-button flex class="big-button" ng-click="presetClick($index)" ng-mousedown="presetMouseDown($index)" ng-mouseup="presetMouseUp($index)" ng-repeat="i in presetsScaffold track by $index">
			<span ng-if="amfm.band.presets[$index]">{{amfm.band.presets[$index]}}</span>
			<span class="multiLineButton" ng-if="!amfm.band.presets[$index]">
				<span class="multiLineButton--line">Empty</span>
				<span class="multiLineButton--secondaryLine">Hold To Set</span>
			</span>
		</md-button>
	</div>
</div>
