
<div>
    <md-grid-list md-cols="1"  md-row-height="4em" md-gutter="1.5em">
        <md-grid-tile class="md-whiteframe-10dp settings">
            <div layout="row" layout-align="space-between center" class="tile-content od-border-bottom">
                <div ng-click="goToWifi()">
                    <h1><i class="fas fa-wifi fa-lg od-padding-right" aria-hidden="true"></i>Wifi</h1>
                </div>
                <div class="empty-div">
                    <md-switch class="md-primary" ng-model="wifi">
                    </md-switch>
                </div>
            </div>
        </md-grid-tile>
        <md-grid-tile class="md-whiteframe-10dp settings" >
            <div layout="row" layout-align="space-between center" class="tile-content od-border-bottom">
                <div ng-click="goToBluetooth()">
                    <h1> <i class="fab fa-bluetooth-b fa-lg bluetooth-icon" aria-hidden="true"></i>Bluetooth</h1>
                </div>
                <div>
                    <md-switch class="md-primary" ng-model="bluetooth" >
                    </md-switch>
                </div>
            </div>
        </md-grid-tile>
        <md-grid-tile class="md-whiteframe-10dp settings" ng-click="goToSystemSettings()">
            <div layout="row" layout-align="space-between center" class="tile-content od-border-bottom">
                <div>
                    <h1><i class="material-icons settings-icon od-material-padding-right">settings</i>System</h1>
                </div>
                <div class="empty-divs"></div>
            </div>
        </md-grid-tile>
        <md-grid-tile class="md-whiteframe-10dp settings" ng-click="showApps()">
            <div layout="row" layout-align="space-between center" class="tile-content od-border-bottom">
                <div>
                    <h1><i class="material-icons settings-icon apps-icon">apps</i> Apps</h1>
                </div>
                <div class="empty-divs"></div>
            </div>
        </md-grid-tile>
        <md-grid-tile class="md-whiteframe-10dp settings" ng-click="minimize()">
            <div layout="row" layout-align="space-between center" class="tile-content od-border-bottom">
                <div>
                    <h1><i class="material-icons settings-icon apps-icon">indeterminate_check_box</i> Minimize</h1>
                </div>
                <div class="empty-divs"></div>
            </div>
        </md-grid-tile>
    </md-grid-list>
</div>
