
<div>
    <md-grid-list md-cols="1"  md-row-height="4em" md-gutter="1.5em">
        <md-grid-tile class="md-whiteframe-10dp settings">
            <div layout="row" layout-align="space-between center" class="tile-content">
                <i class="fa fa-wifi fa-lg settings-icon" aria-hidden="true"></i>
                <div ng-click="goToWifi()">
                    <h1>Wifi</h1>
                </div>
                <div class="empty-div">
                    <md-switch class="md-primary" ng-model="wifi">
                    </md-switch>
                </div>
            </div>
        </md-grid-tile>
        <md-grid-tile class="md-whiteframe-10dp settings" >
            <div layout="row" layout-align="space-between center" class="tile-content">
                <i class="fa fa-bluetooth-b fa-lg settings-icon" aria-hidden="true"></i>
                <div ng-click="goToBluetooth()">
                    <h1>Bluetooth</h1>
                </div>
                <div>
                    <md-switch class="md-primary" ng-model="bluetooth" >
                    </md-switch>
                </div>
            </div>
        </md-grid-tile>
        <md-grid-tile class="md-whiteframe-10dp settings" ng-click="goToSystemSettings()">
            <div layout="row" layout-align="space-between center" class="tile-content">
                <i class="material-icons settings-icon">settings</i>
                <h1>System</h1>
                <div class="empty-divs"></div>
            </div>
        </md-grid-tile>
        <md-grid-tile class="md-whiteframe-10dp settings" ng-click="showApps()">
            <div layout="row" layout-align="space-between center" class="tile-content">
                <i class="material-icons settings-icon">apps</i>
                <h1>Apps</h1>
                <div class="empty-divs"></div>
            </div>
        </md-grid-tile>
        <md-grid-tile class="gray md-whiteframe-10dp settings" ng-click ="goToUpdateSettings()">
            <div layout="row" layout-align="space-between center" class="tile-content">
                <i class="material-icons settings-icon">system_update</i>
                <h1>Update</h1>
                <div class="empty-divs"></div>
            </div>
        </md-grid-tile>
    </md-grid-list>
</div>
