<div layout="row" layout-align="center center" class="local-content scroll-bar" ng-controller="RemoteController as mddRemote">
    <img id="screenshot" ng-src="{{screenshotSrc}}" ng-show="!isLoading" style="width: 100%; height: 100%;">
    <div layout="column" layout-align="center center" ng-show="isLoading">
      <md-progress-circular class="md-accent" md-mode="indeterminate"></md-progress-circular>
      <h2 class="animate-pulse">Connecting to MDD</h2>
    </div>
    <script src="main/dashboard/remote/capture.js"></script>
    <div layout="row"  class="remote-data white md-whiteframe-30dp" ng-click="connectRemote(info.local_ip)" ng-repeat="info in remoteAddressInfo" style="display:none">
        <div flex="60" class="links-padding" layout="column" layout-align="space-between none">
            <div>{{info.hostname}}</div>
            <div>{{info.local_ip}}</div>

        </div>
        <div flex="40" class="mac-device" layout="column" >
            <div>{{info.device}}</div>
            <div>{{info.mac}}</div>
        </div>
    </div>
</div>
<div class="controls">
    <div layout="row" layout-align="space-between none" class="remote-controls">
        <md-button>
            <div class="scan white" ng-click="remoteChild()">remote</div>
        </md-button>
        <md-switch md-invert
                   class="md-primary button-switch white toggle"
                   ng-model="autoconnect_enabled"
                   ng-click="autoConnectLocalIp(autoconnect_enabled)">
            Auto Connect
        </md-switch>
    </div>
</div>
