<div class="local-content">
    <div layout="row"  class="remote-data white md-whiteframe-30dp" ng-click="connectRemote(info.local_ip)" ng-repeat="info in remoteAddressInfo" >
        <div flex="60" class="links-padding" layout="column" layout-align="space-between none">
            <div>{{info.hostname}}</div>
            <div>{{info.local_ip}}</div>

        </div>
        <div flex="40" class="mac-device" layout="column" >
            <div>{{info.device}}</div>
            <div>{{info.mac}}</div>
        </div>
    </div>
</div>
<div class="controls">
    <div layout="row" layout-align="space-between none" class="remote-controls">
        <md-button>
            <div class="scan white" ng-click="manualRun()">Scan</div>
        </md-button>
        <md-button>
            <div class="scan white" ng-click="remoteChild()">remote</div>
        </md-button>
        <md-switch md-invert
                   class="md-primary button-switch white toggle"
                   ng-model="autoconnect_enabled"
                   ng-click="autoConnectLocalIp(autoconnect_enabled)">
            Auto Connect
        </md-switch>
    </div>
</div>
