html {
    height: 100%;
}


body {
    width: 100%;
    height : 100%;
    background: url('../images/USPSlogov2.png') no-repeat center;
    background-size: 80% 40%;
    background-color: rgba(0, 0, 0,0.8);
    color:white;
}
h1{
  color:white;
}
.homebutton{
    font-size: 10em;
}
.header-class{
    text-align: center;
    border-bottom:1px solid;
}
.img{
    width:100%;
}
.header{
    width:100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height:10%;

}
.header-icon{
  height: 15%;
  width: 100%;
}
.main-content{
    position: absolute;
    top: 10%;
    bottom: 6em;
    right: 0;
    left: 0;
    margin-top: 2em;
}

.footer {
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

.menu{
    width: 100%;
}

.dash_btn_img {
  width:50%;
  height:80%;
  margin:2em 0;
  opacity:0.7;
}
.tile-content{
  width: 100%;
  padding:0 5em;
}
.icon{
    padding: 5% 0%;
    text-align: center;
    color: #003399;
    border: 1px solid;
    margin-top: 1em;
    height: 100%;
    width: 90%;
    border-radius: 0.4em;
    box-shadow: 0px 8px 6px 0;
    -webkit-box-shadow: 0px 0px 15px 5px ;
    -moz-box-shadow: 0px 0px 15px 5px ;
    box-shadow: 0px 0px 15px 5px ;
    background-color: rgba(0, 0, 0, 0.25);
}
.pull-right{
    float: right;
}
.grid-tile{
    margin: 0 20px;
}
.menu_icon{
    padding-top: 1em;
    text-align: center;
    border: 1px solid;
    height: 5em;
    width: 100%;
    background: black;
}
.menu-font-icon{
    vertical-align: top;
    padding-top:0.7em;
}
.menu_material_icon{
    font-size: 3.8em !important;
    padding-top: 0.1em;
}
.icon-color {
  color: rgb(255, 255, 255);
}

.icon-text{
  font-size:1.8em;
  padding-top: 0.5em;
}
.black{
  color: #f6f5f8;
}
.remote-data{
    font-size: 1.5em;
    font-weight: 600;
    padding: 0.5em 0.5em 0 0.5em;
    width:100%;
    border-bottom: 1px solid #9e9e9e;
    cursor: pointer;
}
.link{
    color: rgb(102, 204, 255);
    cursor: pointer;
    text-decoration: underline;
}

.back-menu{
    bottom: 6em;
    float: left;
}
.links-padding{
    padding-right:0.2em;
    word-wrap: break-word;
    text-align: left;
}
.mac-device{
    text-align: right;
}
#map {
    height: 25em;
    margin: 1em;
    border-radius: 1em;
    border: 1px solid silver;
}
.media-song-pointer{
    cursor: pointer;
}
.od-padding-right{
    padding-right: 0.6em;
}
.od-material-padding-right{
    padding-right:0.8em;
}
.bluetooth-icon{
    padding:0 0.8em 0 0.2em;
}
.apps-icon{
    padding-right: 0.5em;
}
.controls{
    position: absolute;
    bottom:0;
    padding: 0.5em;
    width: 100%;
}
.media-icons{
    font-size: 3em !important;
    padding:0 0.5em;
}
.remote-controls{
    padding: 0 3em;
}

.pandora{
    height: 2em;
    width: 2em;
    padding-right: 1em;
}
.radioicons{
    padding-right:0.4em;
}
.scan{
    border:1px solid grey;
    border-radius: 25px;
    padding-left:5px;
}
.settings-icon{
    font-size:1.5em !important;
    vertical-align: middle;
}
.local-content{
    position: absolute;
    height: calc(100% - 5em);
    overflow-y: auto;
    width:100%;
}
.dashboard-content{
    position: absolute;
    height: calc(100% - 3em);
    overflow-y: auto;
    width:100%;
    padding-top:1em;
    margin-bottom: 1em;
}
.login-modal{
    width:100%;
}

.scroll-bar::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

.scroll-bar::-webkit-scrollbar
{
    width: 12px;
}

.scroll-bar::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: black;
}

.empty-divs{
    padding: 0 2em;
}
.od-border-bottom{
    border-bottom: 1px solid #9e9e9e;
}
.remote-child{
    border:1px solid white;
    border-radius:25px ;
}

.md-button.big-button {
    margin-right: 8px;
    padding: 20px 40px;
    flex-shrink: 0;
    font-size: 24px;
}
.multiLineButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.multiLineButton--line {
    line-height: 1.3em;
}
.multiLineButton--secondaryLine {
    font-size: 0.7em;
    line-height: 1.3em;
    opacity: 0.75;
}

.layout-radio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    max-width: 100%;
    height: 100%;
}
.layout-radio--heading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 0 auto;
}
.layout-radio--frequencyControls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.layout-radio--controls {
    display: flex;
    justify-content: center;
    align-items: center;
}
.layout-radio--presets {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex: 0 0 auto;
    margin-top: 12%;
}

.radioFrequencyHeading {
    margin: 0 40px;
    font-size: 110px;
    font-weight: bold;
    text-align: center;
}
.radioFrequencyHeading--band {
    font-size: 0.4em;
}

.radioDial {
    position: relative;
    min-width: 100px; /* Helps keep the dial from growing uncontrollably in a flexbox layout. */
    flex-shrink: 1;
    background: linear-gradient(rgba(72, 147, 222, 0.5), rgb(12, 35, 60));
    border-radius: 0.4em;
    border: 1px solid rgba(255, 255, 255, 0.75);
    box-shadow: 0 0 40px 5px rgb(82, 141, 199), inset 0 4px 10px rgba(0, 0, 0, 0.40);
}
.radioDial::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: calc(50% - 2px);
    width: 4px;
    background-color: rgba(255, 0, 0, 0.5);
}
.radioDial--select {
    position: absolute;
    visibility: hidden;
    pointer-events: none;
}
.radioDial--listWrapper {
    padding: 20px 0 10px 0;
    overflow-y: hidden;
    overflow-x: hidden;
    user-select: none;
}
.radioDial--list {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0;
    padding: 0 calc(50% - 5px); /* Minus half the width of each frequency */
    list-style: none;
}
.radioDial--frequency {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-shrink: 0;
    width: 10px;
    height: 60px;
    font-weight: bold;
}
.radioDial--frequency::after {
    content: "";
    width: 2px;
    height: 10px;
    background-color: currentColor;
    position: absolute;
    left: calc(50% - 1px);
    top: 30px;
    border-radius: 1px;
}
.radioDial--frequency.is-groupStart::after {
    height: 20px;
}


/* Animations */

@keyframes pulse {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0.15;
    }
}
.animate-pulse {
    animation: pulse 1350ms ease-in-out infinite alternate;
}
