html {
    height: 100%;
}


body {
    width: 100%;
    height : 100%;
    background: url('../images/USPSlogov2.png') no-repeat center;
    background-size: 80% 40%;
    background-color: rgba(0, 0, 0,0.8);
    color:white;
}
h1{
  color:white;
}

.header-class{
    text-align: center;
    border-bottom:1px solid;
}
.img{
    width:100%;
}
.header{
    width:100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height:10%;

}
.header-icon{
  height: 15%;
  width: 100%;
}
.main-content{
    position: absolute;
    top: 10%;
    bottom: 6em;
    right: 0;
    left: 0;
    margin-top: 2em;
}

.footer {
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

.menu{
    width: 100%;
}

.dash_btn_img {
  width:50%;
  height:80%;
  margin:2em 0;
  opacity:0.7;
}
.tile-content{
  width: 100%;
  padding:0 5em;
}
.icon{
    padding: 5% 0%;
    text-align: center;
    color: #003399;
    border: 1px solid;
    margin-top: 1em;
    height: 100%;
    width: 90%;
    border-radius: 0.4em;
    box-shadow: 0px 8px 6px 0;
    -webkit-box-shadow: 0px 0px 15px 5px ;
    -moz-box-shadow: 0px 0px 15px 5px ;
    box-shadow: 0px 0px 15px 5px ;


}
.pull-right{
    float: right;
}
.grid-tile{
    margin: 0 20px;
}
.menu_icon{
    padding-top: 1em;
    text-align: center;
    border: 1px solid;
    height: 5em;
    width: 100%;
    background: black;
}
.menu_material_icon{
    font-size: 3em !important;
    padding-top: 0.1em;
}
.icon-color {
  color: rgb(255, 255, 255);
}

.icon-text{
  font-size:1.8em;
  padding-top: 0.5em;
}
.black{
  color: #f6f5f8;
}
.remote-data{
    font-size: 1.5em;
    font-weight: 600;
    padding: 0.5em 0.5em 0 0.5em;
    width:100%;
    border-bottom: 1px solid #9e9e9e;
    cursor: pointer;
}
.link{
    color: rgb(102, 204, 255);
    cursor: pointer;
    text-decoration: underline;
}

.back-menu{
    bottom: 6em;
    float: left;
}
.links-padding{
    padding-right:0.2em;
    word-wrap: break-word;
    text-align: left;
}
.mac-device{
    text-align: right;
}
#map {
    height: 25em;
    margin: 1em;
    border-radius: 1em;
    border: 1px solid silver;
}
.media-song-pointer{
    cursor: pointer;
}
.od-padding-right{
    padding-right: 0.6em;
}
.od-material-padding-right{
    padding-right:0.8em;
}
.bluetooth-icon{
    padding:0 0.8em 0 0.2em;
}
.apps-icon{
    padding-right: 0.5em;
}
.controls{
    position: absolute;
    bottom:0;
    padding: 0.5em;
    width: 100%;
}
.media-icons{
    font-size: 3em !important;
    padding:0 0.5em;
}
.remote-controls{
    padding: 0 3em;
}

.pandora{
    height: 2em;
    width: 2em;
    padding-right: 1em;
}
.radioicons{
    padding-right:0.4em;
}
.scan{
    border:1px solid grey;
    border-radius: 25px;
    padding-left:5px;
}
.settings-icon{
    font-size:1.5em !important;
    vertical-align: middle;
}
.local-content{
    position: absolute;
    height: calc(100% - 5em);
    overflow-y: auto;
    width:100%;
}
.dashboard-content{
    position: absolute;
    height: calc(100% - 3em);
    overflow-y: auto;
    width:100%;
    padding-top:1em;
    margin-bottom: 1em;
}
.login-modal{
    width:100%;
}

.scroll-bar::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

.scroll-bar::-webkit-scrollbar
{
    width: 12px;
}

.scroll-bar::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: black;
}

.empty-divs{
    padding: 0 2em;
}
.od-border-bottom{
    border-bottom: 1px solid #9e9e9e;
}
.remote-child{
    border:1px solid white;
    border-radius:25px ;
}



