@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v34/2fcrYFNaTjcS6g4U3t-Y5UEw0lE80llgEseQY3FEmqw.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 50px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  color: #f1f0f3;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
html {
    height: 100%;
}


body {
  background: url('../images/OpenDash_background.png');
  height: 100%;
  width: 100%;
    overflow: hidden;
}
h1{
  color:white;
}
.header{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height:10%;
    width:100%;
}
.header-icon{
  height: 15%;
  width: 100%;
}
.main-content{
    position: absolute;
    top: 10%;
    bottom: 6em;
    right: 0;
    left: 0;
    overflow-y: auto;
    margin-top: 3em;
}

.footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width:100%;
}
.dash_btn_img {
  width:50%;
  height:80%;
  margin:2em 0;
  opacity:0.7;
}
.tile-content{
  width: 100%;
  padding:0 1em;
}
.icon{
    padding-top: 1em;
    text-align: center;
    color: #003399;
    border: 1px solid;
    margin-top: 1em;
    height: 9em;
    width: 9em;
    border-radius: 0.4em;
    box-shadow: 0px 8px 6px 0;
    -webkit-box-shadow: 0px 0px 15px 5px ;
    -moz-box-shadow: 0px 0px 15px 5px ;
    box-shadow: 0px 0px 15px 5px ;

}
.menu{
}
.menu_icon{
    padding-top: 1em;
    text-align: center;
    border: 1px solid;
    height: 5em;
    width: 9.3em;
    background: black;
}
.menu_material_icon{
    font-size: 3em !important;
    padding-top: 0.1em;
}
.icon-color {
  color: rgb(102, 204, 255);
}

.icon-text{
  font-size:1.2em;
  padding-top: 0.5em;
}
.white{
  color: #f6f5f8;
}
.remote-data{
    font-size: 1.5em;
    font-weight: 600;
    padding: 0.5em 0.5em 0 0.5em;
    width:100%;
    border-bottom: 1px solid #9e9e9e;
}
.link{
    color: rgb(102, 204, 255);
    cursor: pointer;
    text-decoration: underline;
}

.back-menu{
    bottom: 6em;
    margin-left: 3em;
}
.links-padding{
    padding-right:0.2em;
    word-wrap: break-word;
    text-align: left;
}
.mac-device{
    text-align: right;
}
#map {
    height: 25em;
    margin: 1em;
    border-radius: 1em;
    border: 1px solid silver;
}
.settings{
    border-bottom: 1px solid #9e9e9e;
}
.od-padding-right{
    padding-right: 1em;
}
.bluetooth{
    padding-right: 0.3em;
}
.controls{
    position: absolute;
    bottom:0;
    padding:1em;
    width: 100%;
    background: black;
}

.pandora{
    height: 2em;
    width: 2em;
    padding-right: 1em;
}
.radioicons{
    padding-right:0.4em;
}
.button-switch{
  margin-top: 0.3em;
}
.scan{
    border:1px solid grey;
    border-radius: 25px;
    padding-left:5px;
}
.settingsicons{
    font-size:1.5em !important;
}
.local-content{
    position: absolute;
    overflow-y: auto;
}

.toggle{
    padding-left:5em;
}

