#ACTION=="add|change", KERNEL=="event[0-9]*", ENV{ID_VENDOR_ID}=="222a", ENV{ID_MODEL_ID}=="0001", ENV{LIBINPUT_CALIBRATION_MATRIX}="1 0 0 0 1 0" # default
#ACTION=="add|change", KERNEL=="event[0-9]*", ENV{ID_VENDOR_ID}=="222a", ENV{ID_MODEL_ID}=="0001", ENV{LIBINPUT_CALIBRATION_MATRIX}="0 -1 1 1 0 0" # 90 degree clockwise
#ACTION=="add|change", KERNEL=="event[0-9]*", ENV{ID_VENDOR_ID}=="222a", ENV{ID_MODEL_ID}=="0001", ENV{LIBINPUT_CALIBRATION_MATRIX}="-1 0 1 0 -1 1" # 180 degree clockwise
#ACTION=="add|change", KERNEL=="event[0-9]*", ENV{ID_VENDOR_ID}=="222a", ENV{ID_MODEL_ID}=="0001", ENV{LIBINPUT_CALIBRATION_MATRIX}="0 1 0 -1 0 1" # 270 degree clockwise
#ACTION=="add|change", KERNEL=="event[0-9]*", ENV{ID_VENDOR_ID}=="222a", ENV{ID_MODEL_ID}=="0001", ENV{LIBINPUT_CALIBRATION_MATRIX}="-1 0 1 1 0 0" # reflect along y axis
