<div ng-controller="FooterController" layout="row" layout-xs="column" class="footer">
    <div flex>
        <img src="images/remote.png" class="header-icon" ng-click="showRemote()">
    </div>
    <div flex>
        <img src="images/dashboard.png" class="header-icon" ng-click="showDashboard()">
    </div>
    <div flex>
        <img src="images/volumedown.png" class="header-icon" ng-click="lowerVolume()">
    </div>
    <div flex>
        <img src="images/volumeup.png" class="header-icon" ng-click="raiseVolume()">
    </div>
</div>

