<div class="dashboard-content scroll-bar dragscroll">
    <md-grid-list class="grid-tile" md-cols="1" md-row-height="fit" md-gutter="50px">
        <md-grid-tile ng-repeat="button in buttons | filter:{hidden:false}">
            <div ng-click="button.onClick($event)" class="icon icon-color {{button.isDisabled() ? 'disabled' : ''}}">
                <md-button ng-disabled="button.isDisabled()">
                    <i class="{{button.iconStyle || 'fas'}} {{'fa-' + button.icon}} fa-5x white" aria-hidden="true"></i>
                    <label class="icon-text white">{{button.label}}</label>
                </md-button>
            </div>
        </md-grid-tile>
    </md-grid-list>
</div>
