<div class="gridListdemoBasicUsage">
    <md-grid-list  md-cols="2"  md-row-height="10em" md-gutter="1em">

        <md-grid-tile ng-click="showRemote()">
            <img src="images/remote1.png" class="dash_btn_img md-whiteframe-10dp">
        </md-grid-tile>

        <md-grid-tile>
            <img src="images/Media.png" class="dash_btn_img">
        </md-grid-tile>

        <md-grid-tile >
            <img src="images/Bluetooth.png" class="dash_btn_img">
        </md-grid-tile>

        <md-grid-tile>
            <img src="images/fmradio.png" class="dash_btn_img">
        </md-grid-tile>

        <md-grid-tile ng-click="showSettings()">
            <img src="images/Settings.png" class="dash_btn_img">
        </md-grid-tile>

        <md-grid-tile>
            <img src="images/Navigation.png" class="dash_btn_img">
        </md-grid-tile>

    </md-grid-list>
</div>

