.container {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}

.canvasWrapper {
	position: relative;
}

.canvas {
	display: block;
	height: 100vh;
}
