.container {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}

.canvasWrapper {
	position: relative;
}

.canvas {
	display: block;
	height: 100vh;
}

.blowerButton {
	width: 100%;
	height: 60px;
}

.headerText {
	text-align: center;
	width: 100%;
	font-size: 20px;
	margin: 30px 10px 10px 10px;
}
