<md-grid-list  layout="row" class="login-form white">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2><span>Login Form</span></h2>
            </div>
        </md-toolbar>
        <md--content>
            <form name="Form">
                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Login</label>
                        <input ng-model="userName">
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Password</label>
                        <input ng-model="password">
                    </md-input-container>
                    <md-button class="md-raised md-primary">Login</md-button>
                </div>
            </form>
        </md--content>
</md-grid-list>
